body {
  background-image: linear-gradient(to bottom, #e2e2e2, #f0f0f0);
  background-image: url("imagens/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Hind";
  margin: 0px;
  /*overflow: hidden;*/
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #c9c9c9;
}
::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 5px 5px 5px 5px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #777777;
  border-radius: 5px 5px 5px 5px;
}
#principal {
  position: relative;
  width: 100%;
  top: -8px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 100px #5f5f5f;
  background-color: #c4c4c4;
  background-image: linear-gradient(to left, #d1d1d1, #d4d4d4);
}
#menu {
  height: 20px;
  padding-left: 18px;
  cursor: pointer;
}
#logo {
  height: 50px;
}
#data {
  padding-right: 20px;
}
#corpo {
  position: relative;
  top: 70px;
}
#cidades {
  position: relative;
  display: flex;
  align-items: center;
}
.monitorMenor {
  position: relative;
  bottom: 30px;
  width: 100%;
}
.monitorMaior {
  position: relative;
  top: 20px;
  width: 100%;

}.cls-1 {
  fill: #b1b1b1;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
  stroke: #4197c4;
}

.cls-1, .cls-10, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
  stroke-width: 1px;
  fill-rule: evenodd;
}

.cls-2 {
  fill: #b1b1b1;
}

.cls-3 {
  fill: #b1b1b1;
}

.cls-4 {
  fill: #b1b1b1;
}

.cls-5 {
  fill: #b1b1b1;
}

.cls-6 {
  fill: #b1b1b1;
}

.cls-10, .cls-6, .cls-7, .cls-8, .cls-9 {
  stroke: #4197c4;
}

.cls-7 {
  fill: #b1b1b1;
}

.cls-8 {
  fill: #b1b1b1;
}

.cls-9 {
  fill: #b1b1b1;
}

.cls-10 {
  fill: #b1b1b1;
}

#respMenor {
  width: 100%;
  position: relative;
  top: 40px;
}
#localidadeMenor {
  color: #383838;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
#respMaior {
  width: 100%;
  position: relative;
  top: 140px;
}
#localidadeMaior {
  color: #383838;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #b6b6b6, #d4d4d4);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 2px 8px 2px 8px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #5a5a5a;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #252525;
}
.sidenav p {
  margin: 0px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#tabela_regiao {
  margin: 30px 0px 30px 30px;
  background-image: linear-gradient(
    to top,
    rgb(190, 190, 190),
    rgb(221, 221, 221)
  );
  box-shadow: 5px 5px 20px rgb(54, 54, 54);
  border-radius: 10px;
}
#tabela_regiao h2, h3{
  margin: 0px;
  background: -webkit-linear-gradient(rgb(145, 145, 145), rgb(153, 153, 153));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#tabela_regiao p:hover{
  background: -webkit-linear-gradient(rgb(106, 178, 226), rgb(59, 133, 230));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  cursor: pointer;
}
#tabela_regiao p{
  color: #383838;
  font-weight: bold;
}
.regioes_nome {
  text-align: center;
  color: rgb(109, 109, 109);
  font-size: 35px;
  width: 300px;
}
.mostrar_graficos{
  display: flex;
  align-items: center;
  flex-direction: column;
  float: right; 
}
.estado-inicial-grafico{
  display: flex;
  align-items: center;
  flex-direction: column;
  float: right; 
  margin: 3vh 10vw 3vh 10vw;
}
.mostrar_graficos iframe{
  border: #025f7e solid 2px;
  width: 50vw;
  height: 60vh;
}
.mostrar_graficos iframe{
  margin-bottom: 10px;

}
